<div>
  <div class="container align-content-center">
    <div class="row">
      <div class="col pt-4">
        <hr class="line"/>
      </div>
      <div class="col text-center">
        <img [src]="getImageUrl()" class="rounded-4 " width="100" height="100">
        <h1 class="display-6">{{getUser().username}}</h1>
      </div>
      <div class="col pt-4">
        <hr class="line"/>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <app-post *ngFor="let post of getPosts();" [post]="post" [redirectTo]="getRedirectPath()" [reloadFunction]="getReloadFunction()">
      </app-post>
    </div>
  </div>

  <app-create-post-popup [reloadFunction]="getReloadFunction()"></app-create-post-popup>
  <app-create-post-button *ngIf="isAuth()" (createPost)="openCreatePostDialog()"/>
</div>
