<div *ngIf="state == LoadingState.Loading" class="d-flex justify-content-center">
  <span class="pe-3">Lade User...</span>
  <div class="spinner-border align-content-center" role="status">
    <span class="visually-hidden text-md-center">Loading...</span>
  </div>
</div>

<div *ngIf="user != null && state == LoadingState.Loaded" >
  <div class="container align-content-center">
    <div class="row">
      <div class="col pt-4">
        <hr class="line"/>
      </div>
      <div class="col text-center">
        <img src="{{user.userIconLink}}" class="rounded-4 " width="100" height="100">
        <h1 class="display-6">{{user.name}}</h1>
      </div>
      <div class="col pt-4">
        <hr class="line"/>
      </div>
    </div>
  </div>

  <app-user-post-list (onOpenKommentarDialog)="openKommentarDialog($event)"></app-user-post-list>
  <app-create-post-popup [kommentarVon]="post" [reloadFunction]="reloadFunction"></app-create-post-popup>

  <app-create-post-button *ngIf="isAuth()" (createPost)="openCreatePostDialog()"/>

</div>
