<div *ngIf="state == LoadingState.Loading" class="d-flex justify-content-center">
  <span class="pe-3">Lade Post...</span>
  <div class="spinner-border align-content-center" role="status">
    <span class="visually-hidden text-md-center">Loading...</span>
  </div>
</div>

<div *ngIf="state == LoadingState.Loaded && post != null">
  <button type="button" class="btn-close p-4" aria-label="Close" (click)="backToOverview()"></button>
  <app-post-thread-list [post]="post"></app-post-thread-list>
<!--  <app-post [post]="post" [enableLinks]="false"> <button type="button" class="btn-close" aria-label="Close" (click)="backToOverview()"></button></app-post>-->
</div>
