<div class="container">
  <div class="row" *ngIf="isAuth(); else notLoggedIn">
    <app-post *ngFor="let post of getPosts()" [post]="post" redirectTo="/posts" [reloadFunction]="getReloadFunction()">
    </app-post>
  </div>
  <ng-template #notLoggedIn>
    <h3>You are not logged in</h3>
    <p>To see the posts please <i routerLink="/login">log in</i></p>
  </ng-template>
</div>

<app-create-post-popup [reloadFunction]="getReloadFunction()"></app-create-post-popup>
<app-create-post-button *ngIf="isAuth()" (createPost)="openCreatePostDialog()"/>
