<div id="{{post.id}}"
     class="scroll-gap"></div>
<div id="post-div" class="col card back {{enableLinks ? '' : 'background-selected'}}">

  <div class="vstack gap-1">
    <div>
      <a routerLink="/user/{{post.user.username}}" class="text-decoration-none">
        <img [src]="getUserImageUrl()" class="rounded-circle p-1" width="50" height="50">
        <span class="text-body">{{post.user.username}}</span>
      </a>

    </div>
    <img *ngIf="!!post.imageUrl" src="{{post.imageUrl}}"
         class="card-img-top  object-fit-contain border rounded postImage " alt="..."/>
  </div>
  <div class="card-body">
    <a *ngIf="enableLinks" [routerLink]="'/post-details/'+post.id" class="text-decoration-none">
      <p id="post-text" class="text-body">{{post.message}}</p>
    </a>
    <p *ngIf="!enableLinks" id="post-text-2" class="text-body">{{post.message}}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <p class="text-body-secondary">{{post.date}}</p>
      <div *ngIf="hasEditAccess()">
        <button type="button" class="btn btn-secondary" (click)="onUpdate()">Bearbeiten</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Löschen</button>
      </div>
    </div>
  </div>
</div>

<dialog #deleteDialog>
  <h3>Soll der Post wirklich gelöscht werden?</h3>
  <p>Diese Aktion kann nicht rückgängig gemacht werden.</p>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="onDeleteAbort()">Abbrechen</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteConfirm()">Löschen</button>
  </div>
</dialog>

<dialog #updateDialog>
  <h3 class="mb-3">Post bearbeiten</h3>
  <textarea placeholder="Inhalt..." cols="40" rows="5" class="mb-3" #updateMessage></textarea>
  <div class="mb-3">
    <label for="updateImageUrl" class="form-label">Bild wählen</label>
    <input placeholder="URL zum Bild..." type="text" id="updateImageUrl" class="form-control" #updateImageUrl>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="onUpdateAbort()">Abbrechen</button>
    <button type="button" class="btn btn-primary" (click)="onUpdateConfirm()">Speichern</button>
  </div>
</dialog>




