<div id="{{post.id}}"
     class="scroll-gap"></div>
<div id="post-div" class="col card back {{enableLinks ? '' : 'background-selected'}}">

  <div class="vstack gap-1">
    <div>
      <a routerLink="/user/{{post.username}}" class="text-decoration-none">
        <img [src]="getImageUrl()" class="rounded-circle p-1" width="50" height="50">
        <span class="text-body">{{post.username}}</span>
      </a>

    </div>
    <img *ngIf="!!post.imageUrl" src="{{post.imageUrl}}"
         class="card-img-top  object-fit-contain border rounded postImage " alt="..."/>
  </div>
  <div class="card-body">
    <a *ngIf="enableLinks" [routerLink]="'/post-details/'+post.id" class="text-decoration-none">
      <p id="post-text" class="text-body">{{post.message}}</p>
    </a>
    <p *ngIf="!enableLinks" id="post-text-2" class="text-body">{{post.message}}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
        <p class="text-body-secondary">{{post.date}}</p>
      <div *ngIf="hasEditAccess()">
        <button type="button" class="btn btn-secondary">Bearbeiten</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Löschen</button>
      </div>
    </div>
  </div>
</div>




