<div *ngIf="state == LoadingState.LOADING" class="d-flex justify-content-center">
  <span class="pe-3">Lade Thread...</span>
  <div class="spinner-border align-content-center" role="status">
    <span class="visually-hidden text-md-center">Loading...</span>
  </div>
</div>


<div *ngIf="state == LoadingState.LOADED">
  <div *ngFor="let tPost of thread;">
    <app-post [post]="tPost"/>
  </div>
  <hr>
  <app-post [post]="post" [enableLinks]="false"><ng-content/></app-post>
  <hr>
  <div *ngFor="let kommentar of kommentare;">
    <app-post [post]="kommentar"/>
  </div>
</div>
