<h1>quackr</h1>
<app-post-list></app-post-list>
<button (click)="openCreatePostForm()"> Create Post </button>
<app-create-post-popup />
<!--<app-post text="Post1"></app-post>-->
<!--<app-post text="ipsajdaosjdowedna saonaudsiauwdkja sdiuadhsiabdbsa"></app-post>-->
<!--<app-post text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam \n nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. "></app-post>-->
<!--<app-post></app-post>-->
<!--<app-post></app-post>-->
