<div class="container-fluid">
  <header class="d-flex flex-wrap align-content-center justify-content-center py-3 mb-4 border-bottom">
    <div class="col"></div>
    <a href="/" class="text-decoration-none text-body text-center col">
      <h1 class="display-2 user-select-none">🦆 quackr</h1>
    </a>
    <div class="dropdown text-end col">
      <a data-bs-toggle="offcanvas" role="button">
        <img src="/assets/katze.jpg"  (click)="showSideBar()" class="rounded-circle p-1" width="50" height="50">
      </a>
      <button (click)="showSideBar()" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Show</button>

<!--      <p>TestName</p>-->

    </div>
  </header>
</div>
<app-side-menu [showing]="showSidebar"/>
<router-outlet/>
