<div class="container-fluid">
  <header class="d-flex flex-wrap align-content-center justify-content-center py-3 mb-4 border-bottom">
    <div class="col"></div>
    <a href="/" class="text-decoration-none text-body text-center col">
      <h1 class="display-2 user-select-none">🦆 quackr</h1>
    </a>
    <div class="dropdown text-end col">
      <a data-bs-toggle="offcanvas" role="button">
        <img src="/assets/katze.jpg"  (click)="showSideBar()" class="rounded-circle p-1" width="50" height="50">
        ⤵️
      </a>

<!--      <p>TestName</p>-->

    </div>
  </header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <router-outlet/>
    </div>
    <div class="col" *ngIf="showSidebar">
      <app-side-menu/>
    </div>
  </div>
</div>
