<dialog id="create-post-dialog" class="createPostDialog ">
  <h1 class="display-4 ">Erstelle einen neuen PostModel</h1>

  <div class="mb-3 ">
    <textarea placeholder="Inhalt..." cols="40" rows="5" class="content-input" #message></textarea>
  </div>

  <div class="mb-3 ">
    <div class="container row">
      <p class="lead">Foto Hochladen</p>
      <div class="col">
        <input id="urlInput" type="text" class="form-control" placeholder="Oder Url angeben" #imageUrl>
      </div>
    </div>
  </div>
  <p *ngIf="isError">Dein PostModel konnte nicht erstellt werden, versuche es
    nochmal</p>

  <div class="">
    <button type="reset" (click)="closeDialog()" class="reset btn btn-secondary">Zurück</button>
    <button type="submit" (click)="createPost(message.value, imageUrl.value)" class="submit btn btn-success">Erstellen</button>
  </div>

</dialog>
